<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Ponstos de Coleta</h1>
            <a href="/">Fechar</a>
        </div>
        <form action="/search">
            <label for="search" style="font:24px" >Cidade</label>
            <div class="search field">
                <input type="text" name="search" id="" placeholder="Pesquise por cidades">
                <button>
                   <img src="./assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>

    </div>
</div>